html{
  box-sizing: border-box;
}*,*::before,*::after{
  box-sizing: inherit;
}


body{
  background: rgb(88,88,204);
  background: linear-gradient(146deg, rgba(88,88,204,1) 0%, rgba(148,10,190,1) 100%);
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}
.contenedor{
  max-width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px){
    .contenedor{
      max-width: 1200px;
      margin: 0 auto;
    }
}

.header{
  display: flex;
  justify-content: center;
}